body{
    margin: 0px;
    padding:0px;
}
.parent{
    background-color: greenyellow;
    height:100vh;
}
.ch1{
    background-color: brown;
    padding:15px;
    margin-right: 10px;
    margin-left: 10px;
}
.ch2{
    background-color: rgb(225, 245, 10);
    padding:15px;
    margin-right: 10px;
    margin-left: 10px;
}